
	<web-app 
	ns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
		<display-name>SchoolManagementProject</display-name>
		<welcome-file-list>
			<welcome-file>index.html</welcome-file>ome-file>ome-file>elcome-file>lcome-file>lcome-file>
		</welcome-file-list>
	</web-app>